<h1>todo</h1>

<ul>
    <% toDoList.forEach((todo, index) => { %>
        <li><a href="/delAToDo/<%= index %>">✘</a> <%= todo %></li>
    <% }); %>
</ul>

<form method="post" action="/addAToDo">
    <input type="text" name="myTodo">
    <input type="submit">
</form>